# specific to dockerignore

# ignore all dockerfiles
**/Dockerfile

# .gitignore starts here
# specific to this repo
*.scratchpad*
generated
cdk.*

# dependencies
node_modules
.pnp
.pnp.js

# turbo
.turbo

# nuxt
*.log*
.nuxt
.nitro
.cache
.output*
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env file
.env
